<div class="flex">
  <app-side-nav />

  <div class="h-screen w-full grid place-content-center">
    <div class="text-5xl leading-[72px] text-center font-opendisplay">Welcome</div>
    <div class="mt-2 text-base text-center">
      The power of AI at your service - Tame the knowledge !
    </div>
    <textarea
      #textarea
      (input)="adjustHeight(textarea)"
      placeholder="“Show me the insights for 2025”"
      class="w-full shadow-lg min-w-[780px] mt-10 py-4 min-h-[40px] max-h-[200px] overflow-y-auto px-5 text-white text-opacity-100 placeholder:text-white placeholder:text-opacity-40 bg-white bg-opacity-5 rounded-2xl resize-none outline-none focus:ring-1 focus:ring-white focus:ring-opacity-40"
      rows="1"
      (keydown.enter)="$event.preventDefault()"
    ></textarea>
  </div>
</div>
