<div class="max-w-[780px] text-secondary">
  <div
    #welcomeText
    class="text-5xl leading-[72px] text-center font-opendisplay"
  >
    Welcome
  </div>
  <div #subText class="mt-2 text-base text-center">
    The power of AI at your service - Tame the knowledge !
  </div>

  <div class="mt-10">
    <app-chat-input />
  </div>
  
  <div class="mt-11 grid grid-cols-3 gap-x-8">
    @for (item of gridInfo; track $index) {
    <div
      #gridItem
      class="p-4 bg-white bg-opacity-10 rounded-3xl relative overflow-hidden"
    >
      <div
        class="absolute inset-0 bg-gradient-to-r from-transparent via-white/40 to-transparent opacity-0 shimmer"
      ></div>
      <img [src]="item.imageUrl" alt="item" />
      <div class="mt-2 text-base font-medium">{{ item.label }}</div>
      <div class="mt-2 font-thin">{{ item.info }}</div>
    </div>

    }
  </div>
</div>
