<div class="sticky top-0 p-4 min-w-[300px] h-screen">
  <div
    class="border border-[rgba(255,255,255,0.1)] rounded-2xl flex flex-col shadow-xl h-full p-6 overflow-y-auto"
  >
    <!-- Logo Section -->
    <div class="flex justify-between">
      <img
        class="w-24 h-6"
        src="https://open-frontend-bucket.s3.amazonaws.com/logos/logo-type-purple.svg"
        alt="open-logo"
      />
    </div>

    <!-- New Chat Button -->
    <button
      class="mt-8 bg-white text-black py-3 font-medium text-center rounded-[10px] shadow-md border"
    >
      + New Chat
    </button>

    <div class="font-medium text-lg flex items-center justify-between mt-8">
      <span class="tracking-wider"> Recent Chat </span>
      <mat-icon svgIcon="three-dots" class="cursor-pointer"></mat-icon>
    </div>

    <!-- Footer / Logout -->
    <div class="mt-auto">
      <div class="flex justify-between cursor-pointer">
        <div class="flex space-x-3">
          <mat-icon svgIcon="apps"></mat-icon>
          <span>AI Agents</span>
        </div>
        <mat-icon svgIcon="launch"></mat-icon>
      </div>

      <div class="flex space-x-3 mt-3">
        <mat-icon svgIcon="settings"></mat-icon>
        <span>Settings</span>
      </div>
    </div>
  </div>
</div>
